@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --primary: hsl(4, 84%, 36%);
  --primary-dark: hsl(4, 84%, 26%);
  --primary-darker: hsl(4, 84%, 16%);
  --on-primary: white;

  --light-gray: hsl(0, 0%, 85%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'inter', 'sans-serif';
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'lora', 'serif';
  font-weight: normal;
}

img {
  object-fit: cover;
}

main {
  margin: 5rem 0;
}

h1 {
  margin-bottom: 5rem;
}

.container {
  margin-inline: auto;
  width: min(90%, 900px);
}

.recipes-container {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

/* Banner */

.banner {
  position: relative;
  width: 100vw;
  height: 32rem;
}

.banner-image {
  width: 100%;
  height: 100%;
}

.banner-title {
  backdrop-filter: grayscale(1) blur(2px) brightness(0.8);
  color: white;
  font-size: 3rem;
  left: 3rem;
  padding: 1rem;
  top: 50%;
  width: 35%;
}

/* Recipe card */

.recipe-card {
  max-width: 300px;
  border: 1px solid var(--light-gray);
  overflow: hidden;
  border-radius: 10px;
}

.recipe-card-image {
  width: 100%;
  height: 150px;
}

.recipe-card-body {
  padding: 2rem 1.5rem;
}

.recipe-card-category {
  text-transform: uppercase;
  color: hsl(0, 0%, 40%);
  font-weight: 300;
  font-size: 0.9rem;
}

.recipe-card-name {
  margin-bottom: 1rem;
}

.recipe-card-button {
  margin-top: 1rem;
}

/* Button */

.button {
  background: var(--primary);
  border-radius: 30px;
  border: none;
  color: var(--on-primary);
  cursor: pointer;
  display: block;
  font-size: 0.9rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
  transition: 200ms;
  width: fit-content;
}

.button:hover {
  background: var(--primary-dark);
}

.button:active {
  background: var(--primary-darker);
}

/* Utility classes */

.utils-flex {
  display: flex;
}

.utils-ai-c {
  align-items: center;
}

.utils-gap-0-5 {
  gap: 0.5rem;
}

.utils-gap-1 {
  gap: 1rem;
}

.utils-absolute {
  position: absolute;
}

.utils-invert-x {
  scale: -1 1;
}
