@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --primary: hsl(15, 81%, 47%);
  --primary-dark: hsl(15, 81%, 37%);
  --primary-darker: hsl(15, 81%, 27%);
  --on-primary: white;

  --transparent-white: hsl(0, 0%, 100%, 90%);

  --light-gray: hsl(0, 0%, 85%);

  --low-shadow: 0 2px 5px hsl(0, 0%, 0%, 10%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'inter', 'sans-serif';
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'lora', 'serif';
  font-weight: normal;
}

img {
  object-fit: cover;
}

main {
  margin: 5rem 0;
}

h1 {
  margin-bottom: 5rem;
}

section {
  margin: 5rem 0;
}

a {
  color: var(--primary);
}

a:hover {
  color: var(--primary-dark);
}

.container {
  margin-inline: auto;
  width: min(90%, 900px);
}

.recipes-container {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

/* Page header */

.page-header {
  background: var(--transparent-white);
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: var(--low-shadow);
  padding: 1rem;
  backdrop-filter: blur(5px);
}

.page-header-container {
  width: min(90%, 1300px);
  margin-inline: auto;
}

.page-header-nav-item {
  cursor: pointer;
  transition: translate 200ms;
}

.page-header-nav-item[data-is-active='true'] {
  font-weight: bold;
  color: var(--primary);
}

.page-header-nav-item:not([data-is-active='true']):hover {
  translate: 0 -3px;
}

.page-header-logo {
  font-size: 1.2rem;
}

/* Banner */

@keyframes to-low-scale {
  from {
    scale: 1.3;
  }

  to {
    scale: 1;
  }
}

@keyframes to-full-opacity {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.banner {
  animation: to-low-scale 2s forwards;
  position: relative;
  width: 100vw;
  height: 32rem;
}

.banner-image {
  width: 100%;
  height: 100%;
}

.banner-title {
  animation: to-full-opacity 3s forwards;
  backdrop-filter: blur(2px);
  background: hsl(0, 0%, 100%, 50%);
  border-radius: 10px;
  color: black;
  font-size: 3rem;
  left: 50%;
  padding: 2rem 3rem;
  top: 50%;
  translate: -50% -50%;
  text-align: center;
}

.banner-title-icon {
  background: var(--primary);
  color: var(--on-primary);
  padding: 1rem;
  border-radius: 10px;
  position: absolute;
  top: -20%;
  left: 45%;
}

.banner-image {
  background-image: url('https://images.unsplash.com/photo-1505935428862-770b6f24f629?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1167&q=80');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

/* Recipe card */

.recipe-card {
  max-width: 300px;
  border: 1px solid var(--light-gray);
  overflow: hidden;
  border-radius: 10px;
  transition: box-shadow 200ms, translate 200ms;
}

.recipe-card:hover {
  box-shadow: var(--low-shadow);
  translate: 0 -3px;
}

.recipe-card:hover .recipe-card-image {
  scale: 1.2;
}

.recipe-card-image-container {
  width: 100%;
  height: 150px;
  overflow: hidden;
}

.recipe-card-image {
  width: 100%;
  height: 100%;
  transition: scale 1s ease-out 100ms
}

.recipe-card-body {
  padding: 2rem 1.5rem;
}

.recipe-card-category {
  text-transform: uppercase;
  color: hsl(0, 0%, 40%);
  font-weight: 300;
  font-size: 0.9rem;
}

.recipe-card-name {
  margin-bottom: 1rem;
}

.recipe-card-button {
  margin-top: 1rem;
}

/* Button */

.button {
  background: var(--primary);
  border-radius: 30px;
  border: none;
  color: var(--on-primary);
  cursor: pointer;
  display: block;
  font-size: 0.9rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
  transition: 200ms;
  width: fit-content;
}

.button:hover {
  background: var(--primary-dark);
}

.button:active {
  background: var(--primary-darker);
}

/* Page footer */

.page-footer {
  padding: 2rem;
}

/* Utility classes */

.utils-flex {
  display: flex;
}

.utils-ai-c {
  align-items: center;
}

.utils-jc-sb {
  justify-content: space-between;
}

.utils-gap-0-5 {
  gap: 0.5rem;
}

.utils-gap-1 {
  gap: 1rem;
}

.utils-absolute {
  position: absolute;
}

.utils-invert-x {
  scale: -1 1;
}

.utils-text-center {
  text-align: center;
}

.utils-cursor-pointer {
  cursor: pointer;
}
