@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
  --primary: hsl(161, 84%, 36%);
  --primary-dark: hsl(161, 84%, 26%);
  --primary-darker: hsl(161, 84%, 16%);
  --on-primary: white;
  --light-gray: hsl(0, 0%, 85%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'inter', 'sans-serif';
}

img {
  object-fit: cover;
}

main {
  margin: 5rem 0;
}

.container {
  margin-inline: auto;
  width: min(90%, 900px);
}

/* Banner */

.banner {
  position: relative;
  width: 100vw;
  height: 32rem;
}

.banner-image {
  width: 100%;
  height: 100%;
}

.banner-title {
  top: 50%;
  left: 3rem;
  font-size: 3rem;
  width: 35%;
  color: white;
  backdrop-filter: grayscale(1) blur(2px) brightness(0.8);
  padding: 1rem;
}

/* Recipe card */

.recipe-card {
  max-width: 300px;
  border: 1px solid var(--light-gray);
  overflow: hidden;
  border-radius: 10px;
}

.recipe-card-image {
  width: 100%;
  height: 150px;
}

.recipe-card-body {
  padding: 2rem 1.5rem;
}

.recipe-card-button {
  margin-top: 1rem;
}

/* Button */

.button {
  cursor: pointer;
  padding: 0.5rem 1rem;
  display: block;
  width: fit-content;
  background: var(--primary);
  text-decoration: none;
  color: var(--on-primary);
  border-radius: 30px;
  transition: 200ms;
  font-size: 0.9rem;
  border: none;
}

.button:hover {
  background: var(--primary-dark);
}

.button:active {
  background: var(--primary-darker);
}

/* Utility classes */

.utils-absolute {
  position: absolute;
}

.utils-invert-x {
  scale: -1 1;
}
